@model IEnumerable<PAW.ExamenFinal.ModelDB.CopiaPelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicadaEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerdidaDanada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPerdidaDanada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicadaEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerdidaDanada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPerdidaDanada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCopiaPelicula }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCopiaPelicula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCopiaPelicula })
        </td>
    </tr>
}

</table>
